<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5-KmTEhNhRgrf9SULfldfjnYp2fNAQO4</string>
	<key>GCM_SENDER_ID</key>
	<string>833105856198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yusuftarikgun.NewsApp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-e0075</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-e0075.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833105856198:ios:b0eb5b451c301e27a2b9c7</string>
</dict>
</plist>